[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
